<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/logo.png" />
    <link href="~/Content/login-page-style.css" rel="stylesheet" type="text/css" />
</head>
<body>

        @RenderBody()

</body>
</html>
