body {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    background-color: #05134a
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.nav.navbar-nav li a {
    color: black;
    font-size: medium;
}

.navbar-brand {
    color: black;
}

.body-content {
    background-color: white;
    border-radius: 15px;
}

.grid-container {
    display: grid;
}

.custom-btn {
    border-radius: 10px;
    margin-top: 3px;
    background-color: #05134a;
}

    .custom-btn:hover {
        background-color: #112263
    }

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
